<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOVIAN CAREERS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head> 
<body>
    <style>
        #banner{
            height: 550px;
            width: 100%;
            object-fit: cover;
        }

    </style>

    <div class="container">
        <h1 class="text-center mt-4 mb-4">{{company_name}} Carriers</h1>
        <img id="banner" class="img-fluid" src="static/banner.jpg" width="500px" height="300">
        <P class="fs-5 mt-4 mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam corporis ipsum culpa maiores soluta voluptates facilis nulla. Veniam soluta magnam similique itaque delectus consequatur fuga cumque! Distinctio impedit consectetur eligendi.</P>
        <h2 class="text-center mt-4 mb-4">Open Positions</h2>
        <div style="font-size: 15px;">
          {% for JOB in JOBS %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-secondary">Contact US</button>
        </div>
        <div><p class="text-center mt-4">copyright Jovian</p></div>

    </div>

</body>

</html>