<div class="border-bottom mt-2 pb-2 row"> 
  <div class="col-10">
<h4><div class="mt-4">{{JOB['title']}}</div></h4>

<h4><div><b>Location :</b>{{JOB['location']}}</div></h4>
  {% if 'salary' in JOB %}
  <h4><div><b>Salary :</b>{{JOB['salary']}}</div></h4>
  {% endif %}
  </div>
  
  <div class="col-2 pt-4">
  <a href="mailto:vv0935@srmist.edu.in?subject=Application%20for%20the%20role%20%7B%7BJOB%5B'title'%5D%7D%7D&body=your%20name%20%3Cname%3E%0Ayour%20resume%20link%20%3Clink%3E%0Ayour%20linkdin%20profile%20%3Clink%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>